@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* 사이트 초기화면 */
.back {
    position: fixed;
    top: 0; left: 0;
    z-index: 99;
    width: 100%; height: 100%;
    background: teal;
    background: url(../img/carl.jpg);
    background-size: 100% 100%;
    color: white;
}

/* 우측상단 자동차 움직임 및 크기설정 */
.car{
    position: absolute;
    top: 50px; right: 0;
    width: 200px; height: 100px;
    /* border: 1px solid white; */
    animation: car_ani 5s infinite;
    animation-fill-mode: forwards;
}

@keyframes car_ani {
    0% {left: 100%; opacity: 0;}
    20% {left: 55%; opacity: 1;}
    100% {left: 90%; opacity: 1;}

}

/* 움직이는 우측상단 자동차 그림 크기 */
.car img{
    width: 100%; height: 100px;
}
/* 우측화단 화살표 */
.up{
    position: absolute;
    width: 50px; height: 50px;
    top: 90%; left: 95%;
    /* border: 1px solid white; */
    background: url(../img/up.svg);
    background-size: 100% 100%;
    animation-fill-mode: forwards;
    cursor: pointer;
}
/* 화살표에 마우스 올렸을떄 움직이게 설정하는 가상클래스 */
.up:hover{
    animation: up_ani 3s linear infinite;
}
/* 애니메이션 설정 */
@keyframes up_ani {
    0% {top: 94%;}
    25% {top: 92%; }
    50% {top: 90%; }
    75% {top: 92%; }
    100% {top: 94%; }
}
/* 좌측상단 "찾아보기"박스 */
.my {
position: relative;
top: 0; left: 0;

    width: 90px; height: 40px;
    border: 1px solid black;
    margin-top: 50px;
    cursor: pointer;
    background:  black;
}

/* "찾아보기"문구 */
.my p{
    width: 100%; height: 100%;
    line-height: 40px;
    text-align: center;
}
/* 마우스 올렸을떄 일어나는 위치이동 */
.my:hover ul{
    left: 0;
}

/* 찾아보기 커서올릴시 나오는 메뉴들 글과 박스 */
.my ul{
    border: 1px solid white;
    position: absolute;
    width: 100%;
    transition: 0.5s;
    top: 100%; left: -110%;
    background: rgb(11, 180, 185);
}

.my ul li{
    width: 100%; height: 40px;
    line-height: 40px;
    text-align: center;
    padding-right: 5px;
    border-bottom: 1px dashed #999;
}
/* 마우스올렸을떄 변하는색 */
.my ul li:hover{
    background-color: orange;
}


/* 초기화면 하단 스킵버튼 (이것을누르면 사이트입장) */
.skip {
    color: white;
    position: absolute;
    bottom: 100px; left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    width: 100px; height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    overflow: hidden;
}
/* 스킵 글자"let;s" */
.skip p{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    transition: all 0.5s;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.skip:hover p{
    top: -100%;
}
/* 스킵글자 "go!!!" */
.skip .skip2{
    position: absolute;
    top: 100%; left: 0;
    width: 100%; height: 100%;
    background: rgb(8, 19, 114);
    transition: all 0.5s;
    border: 1px solid black;
}

.skip:hover .skip2{
    top: 0;
}

/* 스킵에 마우스를 올리면 무엇인가 출현 */



/* 좌측상단 "궁금해요?" 문구 에니메이션" */
.text1{
    position: absolute;
    top: 100px; left: 100px;
    font-size: 2rem;
    font-family: 'PyeongChangPeace-Bold';
    text-align: center;
    width: 500px; height: 50px;
    /* border: 1px solid wheat; */
    border-radius: 30px;
    animation: text1_ani 3s;
    animation-fill-mode: forwards;
}

@keyframes text1_ani {
    0% {opacity: 0; top: 200px; }
    100% {opacity: 1; top: 100px;}

}

/* 중간보드 */
.bord{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 500px; height: 300px;
    border: 0px solid white;
    background: white;
    display: flex;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(6, 189, 158);
    border-radius: 20px;
}

.bord div{
    width: 100px; height: 200px;
    border: 0px solid black;
    position: relative;
    top: 0; left: 0;
    overflow: hidden;
    }

.bord div p{
    width: 100%; height: 100%;
}

.bord div p img{
    width: 100%; height: 100%;
}

.bord div:hover div{
    top: 0;
}

.bord div div{
    width: 100%; height: 100%;
    position: absolute;
    top: 100%; left: 0;
    text-align: center;
    line-height: 30px;
    background: rgb(47, 140, 226);
    transition: 0.5s;
    opacity: 0.5;
    color: azure;
}

/* ========================================= */


/* 메뉴바 */
.menu{
    /* border: 1px solid black; */
    width: 100%; height: 50px;
    display: flex;
    justify-content: center;
}
.menu li{
    /* border: 1px solid green; */
    margin-right: 20px;
    line-height: 50px;
    cursor: pointer;
    }
    .menu li:first-child{
        margin-right: 200px;
        font-size: 2rem;
    }
    .menu li:hover{
        color: red;
    }
    
    /* 하단메뉴바 */
    .msg{
        width: 100%; height: 30px;
        background: rgba(226, 148, 4, 0.404);
        display: flex; justify-content: center;
    }
    /* 하단메뉴바 글자설정 */
    .msg p{
    margin-right: 100px;
    /* border: 1px solid black; */
    line-height: 30px;
    font-size: 0.7rem;
    }
    /* 하단메뉴바 특수화살표기호 */
    .msg p span {
        font-size: 1rem;
    }
    .msg p:first-child{
        margin-right: 100px;
    }
    /* "더자세히알아보기" 클릭및 링크 */
    .msg p:last-child{
        color:  purple;
        cursor: pointer;
    }
    
    /* 하단 네모박스(리스트 형태로써 묶여져있다. */
    .main{
        width: 1024px;
        /* border:  1px solid blue; */
        margin: 20px auto;
    }
    .main .msg1{
        width: 100%; height:  350px;
        display: flex;
        justify-content: space-between;
    }
    /* 리스트 틀 */
    .main .msg1 li{
        width: 48%;
        /* border:  1px solid orange; */
    }
    /* 첫번쨰 박스에 들어가느 배경이미지 */
    .main .msg1 li:first-child{
        background: url(../img/svg1.svg);
        background-size: 100% 100%;
    }
    /* 첫번쨰 박스 내부사이트 설명글목록 */
    /* "답답할떄 언제든지오세요" */
    .main .msg1 p:nth-child(1){
        margin-top: 100px;
        font-size: 1.3rem;
        text-indent: 200px;
    }
    /* "준비되어잇습니다." */
    .main .msg1 p:nth-child(2){
        font-size: 2rem;
        font-family: hy견고딕;
        font-family: 'PyeongChangPeace-Bold';
        line-height: 70px;
        text-indent: 100px;
    }
    /* "힐링으로 새롭게 시작하십시요." */
    .main .msg1 p:nth-child(3){
        font-family: hy견고딕;
        font-size: 1.3rem;
        text-indent: 150px;
    }
    .main .msg1 img{
        width: 100%; height: 100%;
        border-radius: 20px;
    }
